*pyc
*.cprof
build/
*.so
*.html
__pycache__
.ropeproject
*.lprof
*.prof
*.egg-info
dsp_cython.c
equaliser_cython.c*
*.cpp
*.c

# Pycharm specific files
.cache/

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

/Scripts/Notebooks/Demo of transmitter impairment simulation - constant ASE noise model.ipynb
